@font-face {
    font-family: Gilroy-bold;
    src: url(./public/font/Gilroy-Bold.woff);
}

@font-face {
    font-family: gilroy-medium;
    src: url(./public/font/Gilroy-Medium.woff);
}



.mainflex{
    display: flex;
    gap: 7.5rem;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 9rem 0 9rem;
    margin: auto;    */
    margin: 0 8rem 0 8rem;
    font-family: gilroy-medium;
    font-weight: 400;
    
}

.centerflex{
    display: flex;
    gap: 2.5rem;
    align-items: center;
    font-weight: 550;
}

.finalflex{
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.showoff{
    display: flex;
    font-size: 3rem;
    line-height: 6rem;
    text-align: center;
    padding: 0 10rem;
    padding-top: 30px;
    margin: auto;  
    font-family: Gilroy-Bold;
    font-size: 48px;
    font-weight: 400;
    
}

.below{
    text-align: center;
    display: flex;
    margin: auto;
    width: 40rem;
    line-height: 1.75rem;
    font-size: 1.125rem;
    font-family: Gilroy-Medium;
    
}

.cta{
    display: flex;
    align-items: center;
    margin: auto;
    padding: 0 30rem;
    width: fit-content;
    gap: 3.5rem;
    padding-top: 3.5rem;
    margin-bottom: -95px;
    font-family: gilroy-medium;
    /* margin-bottom: 80px; */
}

.logotext{
    display: inline-flex;
    line-height: 32px;
    font-size: 24px;
    font-family: Gilroy-Bold;
    color: var(--primary-300-base, #0065FE); 
}

.bluetext{
    color: var(--primary-300-base, #0065FE);
    
}

button{
    border-radius: 100px;
    background-color: var(--primary-300-base, #0065FE);
    color: #fff;
    border-style: hidden;
    width: 8.875rem;
    height: 2.75rem;
    gap: 0.625rem;
}

.slash{
    position: relative;
    margin: auto;
    left: 38rem;
    bottom: 25px;
}

#dropdown{
    display: inline;
    /* position: relative; */
    
}

#buttomframe{
    display: inline-flex; 
    border-radius: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    border: 0.5px solid var(--primary-400, #005AE2);
    background: rgba(254, 254, 254, 0.10);
    backdrop-filter: blur(106px);
    padding: 40px 60px;
    margin-left: 480px;
    margin-top: -280px;
    width: max-content;
}

.buttomfr{
display: flex;
gap: 20px;
align-items: center;
justify-content: center;
}

.link{
    margin-left: -13px;
}

.buttomtext{
    /* padding: 0 2rem; */
    text-align: center;
    margin: auto;
    padding: 0 9rem;
    font-family: gilroy-medium;
    
}

.abstract{
    position: relative;
    display: inline;
    padding: 0;
    margin: 0;
    top: 135px;
    left: 490px;
}

.final{
    display: flex;
    margin: auto;
    justify-self: center;
    margin-top: 95px;
    padding: 0 15rem;
    width: 956px;
    height: 49px;
    border-radius: 956px;
}